        .box {display: flex; justify-content: space-between;}
           .block_1 {width: 20%;height: 50vh;border: 1px solid black;}
           .block_2 {width: 70%;height: 50vh;border: 1px solid black;}