body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.box {
    display: flex;
    column-gap: 10px;
}

.block-1 {
    width: 398px;
    height: 100vh;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.block-2 {
    width: fit-content;
}

.massages {
    text-align: center;
    width: 200px;
    height: 100px;
    line-height: normal;
    border: 1px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

