body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.box {
    display: flex;
    column-gap: 10px;
}

.block-1 {
    width: 398px;
    height: 100vh;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-wrapper {
    width: fit-content;
}

